header {
    height: 100vh;
    background-image: url('/images/math.png');
    background: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#brain {
    height: 40vh;
    width: 39vh;
}
#logo {
    height:  23vh;
    width: 46vh;
}
#play {
    background: #428BCA;
    color: #fff;
    border: 1px solid #3071A9;
    height: 10vh;
    width: 40vh;
    transition: all 0.2s ease 0s;
    &:hover {
    background: #CF4647;
    transform: scale(1.3);
}
}