nav {
    height: 30vh;
    background-color: #FFEA2F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#points {
    padding: 1vh;
}
#option2 {
    width: 20vh;
    height: 20vh;
    border: 1px dotted red;
    background-image: url("../images/levels/blackboard.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#option1 {
    width: 20vh;
    height: 20vh;
    border: 1px dotted red;
    background-image: url("../images/levels/abacus.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#points {
    width: 20vh; 
    height: 20vh; 
    font-size: 8vh;
    background-color: brown; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#level {
    width: 20vh;
    height: 20vh;
    border: 1px dotted green;
}