nav {
    height: 25vh;
    background-color: #FFEA2F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#points {
    padding: 1vh;
}
#option2 {
    width: 20vh;
    height: 20vh;
//    border: 1px dotted red;
    background-image: url("../images/levels/blackboard.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#option1 {
    width: 20vh;
    height: 20vh;
//    border: 1px dotted red;
    background-image: url("../images/levels/abacus.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#lives {
    width: 60vh;
    height: 20vh;
//    border: 1px dotted red;
    display: flex;
    align-items: center;
    img {
        width: 20vh;
        height: 20vh;
    }
}
#points {
    width: 20vh; 
    height: 20vh; 
    font-size: 8vh;
    background-color: #FAE100; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.level {
    width: 20vh;
    height: 20vh;
//    border: 1px dotted green;
    background-image: url("../images/levels/boy.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.level1 {
    width: 20vh;
    height: 20vh;
//    border: 1px dotted green;
    background-image: url("../images/levels/student.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.level2 {
    width: 20vh;
    height: 20vh;
//    border: 1px dotted green;
    background-image: url("../images/levels/professor.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
   .sticky{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}