#game2 {
    display: flex;
    justify-content: center;
    height: 100vh;
//    background-color: $color-primary-4;
}
#box1 {
    width: 35vh;
    height: 13vh;
    background: none;
    border: 1px dotted red;
}