#game2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: $color-primary-4;
}
#box1 {
    width: 52vh;
    height: 13vh;
    background: none;
//    border: 1px dotted red;
    display: flex;
//    flex-direction: column;
    justify-content: center;
}
#icons1 {
    display: flex;
    justify-content: center;
    position: relative;
//    border: 1px dotted blue;
}
#icons2 {
    display: flex;
    justify-content: center;
    position: relative;
//    border: 1px dotted blue;
}
#container2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    text-align: center;
//    border: 1px dotted red;
}
#sign {
    display: flex;
    justify-content: center;
}
#ans2 {
    display: flex;
    justify-content: center;
    position: relative;
    height: 20vh;
    width: 100%;
//    border: 1px solid black;
}
#countBtn {
    background: #428BCA;
    color: #fff;
    border: 1px solid #3071A9;
    height: 10vh;
    width: 20vh;
    transition: all 0.2s ease 0s;
    &:hover {
    background: #CF4647;
    transform: scale(1.3);
 }
}
#result {
    height: 10vh;
    width: 10vh;
}
.text {
    font-size: 1.5em;
}
input[type="text"]
{
    font-size:2em;
    text-align: center;
    padding: 10px;
    background-color: $color-primary-2;
    border: solid 2px #c9c9c9;
    transition: border 0.3s;
    &.focus {
  border: solid 5px #969696;
    }
}
.dyplom {
    width: 50vh;
    height: 30vh;
//    border: 1px dotted green;
    background-image: url("../images/levels/diploma-3.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}
#dyplom {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
